body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .calculator {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIzLRPrHUkDCFh3OTzbYb6G4wdaTVaZWDoUQ&s);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
  }
  
  .display {
    background: #222;
    color: white;
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
    margin-bottom: 15px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    background:black;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
  }
  
 
  
  
  
 
 